<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>My Blogs</h2>
    <ol>
        <li>Django installation and configuration</li>
        <li>Authemtication in Django</li>
        <li>Sending Email using Django Framework</li>
    </ol>
    <a href="{% url 'index_page' %}">Back Home</a>
    <a href="{% url 'add_author_page' %}">Add Author</a>

</body>
</html>